.text-primary {
    color:orange
}
.button-primary {
    color:rgb(50, 226, 50);
    background-color: rgb(216, 12, 12);
    border-radius: 3px;
    height:30px;
    width: 300px;
}

#btn{
    border: rgb(39, 3, 15);
}